<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kopra.movieapp"
    android:versionCode="6"
    android:versionName="1.6" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ImageActivity"
            android:label="@string/app_name"
            android:theme="@style/TransparentTheme" />
        <!-- <activity
            android:name=".SearchActivity"
            android:label="@string/app_name"
            android:theme="@style/SearchTheme" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity> -->

        <provider
            android:name=".content.SearchSuggestionsProvider"
            android:authorities="com.kopra.movieapp.provider"
            android:exported="false" />

        <meta-data
            android:name="com.rotten.apikey"
            android:value="e56r7wwgab8eua932sgxfjyf" />
    </application>

</manifest>